<div class="col-md-12">
<h2>About This App</h2>

<p>Hi. I'm Ana. This is my first app. You can find me on Twitter here: <%= link_to('@awanderingorill', 'http://twitter.com/awanderingorill') %>.</p>

<p>Your experience on this site would be ugly, way buggier, and possibly non-functioning if it weren't for the frequent help of <%= link_to('Enoch Riese', 'http://boygirlboigrrrl.tumblr.com') %> (Master of Logic), <%= link_to('Jorge Colindres', 'http://github.com/corporadobob') %> (Master of Styles), <%= link_to('Matt Lucas', 'http://twitter.com/ml242') %> (Master of Prioritization), and <%= link_to('Josh Oynick', 'https://twitter.com/oynickj') %> (Master of Jokes, for the name). Thanks, guys.</p>
</div>