<div class="col-md-7">
  <%= form_for(@piece) do |f| %>
    <%= f.label :orig_title, "Title" %><br>
    <%= f.text_field :orig_title, style: 'width: 100%; margin-bottom: 10px;' %><br>
    <%= f.text_area :orig_body, style: 'width: 100%; height: 350px; resize: none; padding-top: 1px;', :placeholder => "Paste what you wanna playgiarize here." %><br>
    <%= f.submit "Playgiarize", class: 'btn btn-secondary btn-hover', style: 'margin-top: 25px; float: right;' %>
  <% end %>
</div>